/* CSS files --> contact.html */
body{
    background-image: url(https://i.pinimg.com/originals/a7/f8/b8/a7f8b86d8bc8de9fd4acc00612be0b84.jpg)
}
.table-menu td:hover{
    background-color: #DF711B;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #FEFDCA;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
table{
    width:100%; 
    text-align: center;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #911F27;
}